extends base

block content
    .dashboard
        .container-fluid
            .content-area
                .dashboard-content
                    .dashboard-header.clearfix
                        .row
                            .col-md-6.col-sm-12
                                h4 Bookings
                            .col-md-6.col-sm-12
                                .breadcrumb-nav
                                    ul
                                        li
                                            a(href='../index-2.html') Index
                                        li
                                            a(href='dashboard.html') Dashboard
                                        li.active Booking
                    .row
                        .column.col-lg-12
                            .messages-box
                                .title
                                    h3 Booking List
                                .inner-box
                                    // comment
                                    article.message-box
                                        .thumb-box
                                            figure.thumb
                                                img(src='/img/resource/review-thumb-1.jpg' alt='')
                                            a.reply-btn(href='#') Reply Now
                                        .content-box
                                            .name Monija Moro
                                            span.date
                                                i.la.la-calendar
                                                |  8:42 PM 1/28/2017
                                            ul.booking-info
                                                li
                                                    strong Item 
                                                    |  Real Luxury Villa
                                                li
                                                    strong Start date 
                                                    |  18 November 2018
                                                li
                                                    strong End date 
                                                    |  18 November 2018
                                                li
                                                    strong Booking details 
                                                    |  4 Peoples
                                                li
                                                    strong Mail 
                                                    a(href='mailto:info@expert-themes.com') info@expert-themes.com
                                                li
                                                    strong Phone 
                                                    a(href='tel:+79617036705') +79617036705
                                            .btn-box
                                                a(href='#')
                                                    | Approve 
                                                    i.pe-7s-check
                                                a(href='#')
                                                    | Reject 
                                                    i.pe-7s-close-circle
                                    // comment
                                    article.message-box
                                        .thumb-box
                                            figure.thumb
                                                img(src='/img/resource/review-thumb-2.jpg' alt='')
                                            a.reply-btn(href='#') Reply Now
                                        .content-box
                                            .name Mibano Rests
                                            span.date
                                                i.la.la-calendar
                                                |  8:42 PM 1/28/2017
                                            ul.booking-info
                                                li
                                                    strong Item 
                                                    |  Real Luxury Villa
                                                li
                                                    strong Start date 
                                                    |  18 November 2018
                                                li
                                                    strong End date 
                                                    |  18 November 2018
                                                li
                                                    strong Booking details 
                                                    |  4 Peoples
                                                li
                                                    strong Mail 
                                                    a(href='mailto:info@expert-themes.com') info@expert-themes.com
                                                li
                                                    strong Phone 
                                                    a(href='tel:+79617036705') +79617036705
                                            .btn-box
                                                a(href='#')
                                                    | Approve 
                                                    i.pe-7s-check
                                                a(href='#')
                                                    | Reject 
                                                    i.pe-7s-close-circle
                                    // comment
                                    article.message-box
                                        .thumb-box
                                            figure.thumb
                                                img(src='/img/resource/review-thumb-3.jpg' alt='')
                                            a.reply-btn(href='#') Reply Now
                                        .content-box
                                            .name Cojari Barna
                                            span.date
                                                i.la.la-calendar
                                                |  8:42 PM 1/28/2017
                                            ul.booking-info
                                                li
                                                    strong Item 
                                                    |  Real Luxury Villa
                                                li
                                                    strong Start date 
                                                    |  18 November 2018
                                                li
                                                    strong End date 
                                                    |  18 November 2018
                                                li
                                                    strong Booking details 
                                                    |  4 Peoples
                                                li
                                                    strong Mail 
                                                    a(href='mailto:info@expert-themes.com') info@expert-themes.com
                                                li
                                                    strong Phone 
                                                    a(href='tel:+79617036705') +79617036705
                                            .btn-box
                                                a(href='#')
                                                    | Approve 
                                                    i.pe-7s-check
                                                a(href='#')
                                                    | Reject 
                                                    i.pe-7s-close-circle
                                    // comment
                                    article.message-box
                                        .thumb-box
                                            figure.thumb
                                                img(src='/img/resource/review-thumb-1.jpg' alt='')
                                            a.reply-btn(href='#') Reply Now
                                        .content-box
                                            .name Monija Moro
                                            span.date
                                                i.la.la-calendar
                                                |  8:42 PM 1/28/2017
                                            ul.booking-info
                                                li
                                                    strong Item 
                                                    |  Real Luxury Villa
                                                li
                                                    strong Start date 
                                                    |  18 November 2018
                                                li
                                                    strong End date 
                                                    |  18 November 2018
                                                li
                                                    strong Booking details 
                                                    |  4 Peoples
                                                li
                                                    strong Mail 
                                                    a(href='mailto:info@expert-themes.com') info@expert-themes.com
                                                li
                                                    strong Phone 
                                                    a(href='tel:+79617036705') +79617036705
                                            .btn-box
                                                a(href='#')
                                                    | Approve 
                                                    i.pe-7s-check
                                                a(href='#')
                                                    | Reject 
                                                    i.pe-7s-close-circle
                                    // comment
                                    article.message-box
                                        .thumb-box
                                            figure.thumb
                                                img(src='/img/resource/review-thumb-2.jpg' alt='')
                                            a.reply-btn(href='#') Reply Now
                                        .content-box
                                            .name Mibano Rests
                                            span.date
                                                i.la.la-calendar
                                                |  8:42 PM 1/28/2017
                                            ul.booking-info
                                                li
                                                    strong Item 
                                                    |  Real Luxury Villa
                                                li
                                                    strong Start date 
                                                    |  18 November 2018
                                                li
                                                    strong End date 
                                                    |  18 November 2018
                                                li
                                                    strong Booking details 
                                                    |  4 Peoples
                                                li
                                                    strong Mail 
                                                    a(href='mailto:info@expert-themes.com') info@expert-themes.com
                                                li
                                                    strong Phone 
                                                    a(href='tel:+79617036705') +79617036705
                                            .btn-box
                                                a(href='#')
                                                    | Approve 
                                                    i.pe-7s-check
                                                a(href='#')
                                                    | Reject 
                                                    i.pe-7s-close-circle
                                    // comment
                                    article.message-box
                                        .thumb-box
                                            figure.thumb
                                                img(src='/img/resource/review-thumb-3.jpg' alt='')
                                            a.reply-btn(href='#') Reply Now
                                        .content-box
                                            .name Cojari Barna
                                            span.date
                                                i.la.la-calendar
                                                |  8:42 PM 1/28/2017
                                            ul.booking-info
                                                li
                                                    strong Item 
                                                    |  Real Luxury Villa
                                                li
                                                    strong Start date 
                                                    |  18 November 2018
                                                li
                                                    strong End date 
                                                    |  18 November 2018
                                                li
                                                    strong Booking details 
                                                    |  4 Peoples
                                                li
                                                    strong Mail 
                                                    a(href='mailto:info@expert-themes.com') info@expert-themes.com
                                                li
                                                    strong Phone 
                                                    a(href='tel:+79617036705') +79617036705
                                            .btn-box
                                                a(href='#')
                                                    | Approve 
                                                    i.pe-7s-check
                                                a(href='#')
                                                    | Reject 
                                                    i.pe-7s-close-circle
                p.copyright-text
                    | © 2018 
                    a(href='#') Expert Themes
                    |  All right reserved.
