extends base

block content
    .dashboard
        .container-fluid
            .content-area
                .dashboard-content
                    .dashboard-header.clearfix
                        .row
                            .col-md-6.col-sm-12
                                h4 My Properties
                            .col-md-6.col-sm-12
                                .breadcrumb-nav
                                    ul
                                        li
                                            a(href='../index-2.html') Index
                                        li
                                            a(href='dashboard.html') Dashboard
                                        li.active Properties
                    .row
                        .column.col-lg-12
                            .properties-box
                                .title
                                    h3 My Properties List
                                .inner-container
                                    // Property Block
                                    .property-block
                                        .inner-box.clearfix
                                            .image-box
                                                figure.image
                                                    img(src='/img/resource/property-1.jpg' alt='')
                                            .content-box
                                                h3 Single House Near Orland Park.
                                                .location
                                                    i.la.la-map-marker
                                                    |  Orland Park, IL 35785, Chicago, United State
                                                ul.property-info.clearfix
                                                    li
                                                        i.flaticon-dimension
                                                        |  356 Sq-Ft
                                                    li
                                                        i.flaticon-bed
                                                        |  4 Bedrooms
                                                    li
                                                        i.flaticon-car
                                                        |  2 Garage
                                                    li
                                                        i.flaticon-bathtub
                                                        |  3 Bathroom
                                                .price $ 13,65,000
                                            .option-box
                                                .expire-date 4.01.2018
                                                ul.action-list
                                                    li
                                                        a(href='#')
                                                            i.la.la-edit
                                                            |  Edit
                                                    li
                                                        a(href='#')
                                                            i.la.la-eye-slash
                                                            |  Hide
                                                    li
                                                        a(href='#')
                                                            i.la.la-trash-o
                                                            |  Delete
                                    // Property Block
                                    .property-block
                                        .inner-box.clearfix
                                            .image-box
                                                figure.image
                                                    img(src='/img/resource/property-2.jpg' alt='')
                                            .content-box
                                                h3 Apartment Morden 1243, W No.
                                                .location
                                                    i.la.la-map-marker
                                                    |  Orland Park, IL 35785, Chicago, United State
                                                ul.property-info.clearfix
                                                    li
                                                        i.flaticon-dimension
                                                        |  356 Sq-Ft
                                                    li
                                                        i.flaticon-bed
                                                        |  4 Bedrooms
                                                    li
                                                        i.flaticon-car
                                                        |  2 Garage
                                                    li
                                                        i.flaticon-bathtub
                                                        |  3 Bathroom
                                                .price $ 13,65,000
                                            .option-box
                                                .expire-date 4.01.2018
                                                ul.action-list
                                                    li
                                                        a(href='#')
                                                            i.la.la-edit
                                                            |  Edit
                                                    li
                                                        a(href='#')
                                                            i.la.la-eye-slash
                                                            |  Hide
                                                    li
                                                        a(href='#')
                                                            i.la.la-trash-o
                                                            |  Delete
                                    // Property Block
                                    .property-block
                                        .inner-box.clearfix
                                            .image-box
                                                figure.image
                                                    img(src='/img/resource/property-3.jpg' alt='')
                                            .content-box
                                                h3 Great Home for Single fmaily.
                                                .location
                                                    i.la.la-map-marker
                                                    |  Orland Park, IL 35785, Chicago, United State
                                                ul.property-info.clearfix
                                                    li
                                                        i.flaticon-dimension
                                                        |  356 Sq-Ft
                                                    li
                                                        i.flaticon-bed
                                                        |  4 Bedrooms
                                                    li
                                                        i.flaticon-car
                                                        |  2 Garage
                                                    li
                                                        i.flaticon-bathtub
                                                        |  3 Bathroom
                                                .price $ 13,65,000
                                            .option-box
                                                .expire-date 4.01.2018
                                                ul.action-list
                                                    li
                                                        a(href='#')
                                                            i.la.la-edit
                                                            |  Edit
                                                    li
                                                        a(href='#')
                                                            i.la.la-eye-slash
                                                            |  Hide
                                                    li
                                                        a(href='#')
                                                            i.la.la-trash-o
                                                            |  Delete
                                    // Property Block
                                    .property-block
                                        .inner-box.clearfix
                                            .image-box
                                                figure.image
                                                    img(src='/img/resource/property-4.jpg' alt='')
                                            .content-box
                                                h3 Single House Near Orland Park.
                                                .location
                                                    i.la.la-map-marker
                                                    |  Orland Park, IL 35785, Chicago, United State
                                                ul.property-info.clearfix
                                                    li
                                                        i.flaticon-dimension
                                                        |  356 Sq-Ft
                                                    li
                                                        i.flaticon-bed
                                                        |  4 Bedrooms
                                                    li
                                                        i.flaticon-car
                                                        |  2 Garage
                                                    li
                                                        i.flaticon-bathtub
                                                        |  3 Bathroom
                                                .price $ 13,65,000
                                            .option-box
                                                .expire-date 4.01.2018
                                                ul.action-list
                                                    li
                                                        a(href='#')
                                                            i.la.la-edit
                                                            |  Edit
                                                    li
                                                        a(href='#')
                                                            i.la.la-eye-slash
                                                            |  Hide
                                                    li
                                                        a(href='#')
                                                            i.la.la-trash-o
                                                            |  Delete
                                    // Property Block
                                    .property-block
                                        .inner-box.clearfix
                                            .image-box
                                                figure.image
                                                    img(src='/img/resource/property-5.jpg' alt='')
                                            .content-box
                                                h3 Apartment Morden 1243, W No.
                                                .location
                                                    i.la.la-map-marker
                                                    |  Orland Park, IL 35785, Chicago, United State
                                                ul.property-info.clearfix
                                                    li
                                                        i.flaticon-dimension
                                                        |  356 Sq-Ft
                                                    li
                                                        i.flaticon-bed
                                                        |  4 Bedrooms
                                                    li
                                                        i.flaticon-car
                                                        |  2 Garage
                                                    li
                                                        i.flaticon-bathtub
                                                        |  3 Bathroom
                                                .price $ 13,65,000
                                            .option-box
                                                .expire-date 4.01.2018
                                                ul.action-list
                                                    li
                                                        a(href='#')
                                                            i.la.la-edit
                                                            |  Edit
                                                    li
                                                        a(href='#')
                                                            i.la.la-eye-slash
                                                            |  Hide
                                                    li
                                                        a(href='#')
                                                            i.la.la-trash-o
                                                            |  Delete
                                    // Property Block
                                    .property-block
                                        .inner-box.clearfix
                                            .image-box
                                                figure.image
                                                    img(src='/img/resource/property-6.jpg' alt='')
                                            .content-box
                                                h3 Great Home for Single fmaily.
                                                .location
                                                    i.la.la-map-marker
                                                    |  Orland Park, IL 35785, Chicago, United State
                                                ul.property-info.clearfix
                                                    li
                                                        i.flaticon-dimension
                                                        |  356 Sq-Ft
                                                    li
                                                        i.flaticon-bed
                                                        |  4 Bedrooms
                                                    li
                                                        i.flaticon-car
                                                        |  2 Garage
                                                    li
                                                        i.flaticon-bathtub
                                                        |  3 Bathroom
                                                .price $ 13,65,000
                                            .option-box
                                                .expire-date 4.01.2018
                                                ul.action-list
                                                    li
                                                        a(href='#')
                                                            i.la.la-edit
                                                            |  Edit
                                                    li
                                                        a(href='#')
                                                            i.la.la-eye-slash
                                                            |  Hide
                                                    li
                                                        a(href='#')
                                                            i.la.la-trash-o
                                                            |  Delete
                p.copyright-text
                    | © 2018 
                    a(href='#') Expert Themes
                    |  All right reserved.
