extends base

block content
    section.error-sec
        .eror-sec-data
            h1 404
            p The page you&rsquo;re looking for can&rsquo;t be found.
            a.btn2(href='/' title='') Back to Homepage
        // eror-sec-data end
    // error-sec end
block footer
    |
