header
  .top-header
    .container
      .row.justify-content-between
        .col-xl-6.col-md-7.col-sm-12
          
        .col-xl-3.col-md-5.col-sm-12
          .header-social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-linkedin
  .header
    .container
      .row
        .col-xl-12
          nav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand(href='/')
              img(src='/img/logo.png' alt='')
            button.menu-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent')
              span.icon-spar
              span.icon-spar
              span.icon-spar
            #navbarSupportedContent.navbar-collapse
              ul.navbar-nav.mr-auto
                li(class=`nav-item ${page=="home" ? 'active':''}` )
                  a.nav-link(href='/')
                    | Home
                  
                li(class=`nav-item ${page=="listing" ? 'active':''}` )
                  a.nav-link(href='/land-listing')
                    | Land List
        
                li(class=`nav-item ${page=="about" ? 'active':''}` )
                  a.nav-link(href='/about')
                    | About
                  
              .d-inline.my-2.my-lg-0
                ul.navbar-nav
                  - if(!user)
                      li.nav-item.signin-btn
                        a.nav-link(href='#')
                          i.la.la-sign-in
                          span
                            b.signin-op &nbsp;Sign in
                            |  or 
                            b.reg-op Register
                  - else
                      li.nav-item
                        a.nav-link#log-out(href='#')
                          i.la.la-sign-in
                          span
                            b &nbsp;Logout
                            //- |  or 
                            //- b.reg-op Register
                  - if(user)
                    - if(user.Role == "admin")
                        li.nav-item.submit-btn
                          a.my-2.my-sm-0.nav-link.sbmt-btn(href='/dashboard')
                            i.icon-plus
                            span Dashboard
                    - else
                        li.nav-item.submit-btn
                          a.my-2.my-sm-0.nav-link.sbmt-btn(href='/profile')
                            i.icon-plus
                            span Profile
              a.close-menu(href='#' title='')
                i.la.la-close
// header end
#sign-popup.popup
  h3 Sign In to your Account
  .popup-form
    form
      .form-field
        input(type='text' name='username' placeholder='Username')
      .form-field
        input(type='password' name='password' placeholder='Password')
      .form-cp
        .form-field
          .input-field
            input#cc1(type='checkbox' name='ccc')
            label(for='cc1')
              span
              small Remember me
        a(href='#' title='') Forgot Password?
      // form-cp end
      button.btn2#sign-in Sign In
    //- a.fb-btn(href='#' title='')
    //-   i.fa.fa-facebook
    //-   | Sign In With Facebook
// popup end
#register-popup.popup
  h3 Register
  .popup-form
    form
      .form-field
        input(type='text' name='firstname' placeholder='First Name')
      .form-field
        input(type='text' name='lastname' placeholder='Last Name')
      .form-field
        input(type='text' name='middlename' placeholder='Middle Name')
      .form-field
        input(type='text' name='email' placeholder='Email')
      .form-field
        input(type='text' name='phone' placeholder='Phone Number')
      .form-field
        input#password(type='password' name='password' placeholder='Password')

      .form-field
        input#passwordConfirm(type='password' name='passwordConfirm' placeholder='Confirm Password')
      .form-cp
        .form-field
          .input-field
            input#cc2(type='checkbox' name='ccc')
            label(for='cc2')
              span
              small I agree with terms
        a.signin-op(href='#' title='') Have an account?
      // form-cp end
      button.btn2#register(type='submit') Register
// popup end
