extends base

block content
    section.about-sec.pt
        .container
            .about-us-sec
                .row
                    .col-lg-6
                        .about-info
                            h3 Mama Lands
                            h4 Your best bet for purchasing lands and getting a Certificate of Ownership
                            p
                                | This project was developed as part of the requirement for obtaining a BSc. Computer science in Ahmadu Bello University, Zaria. The goal of this project is to automate the process of acquiring lands as well as speed up the process of obtaining a certificate of ownership on bought lands
                            
                        // about-info end
                    .col-lg-6
                        .about-img
                            img(src='/img/banner/land2.jpeg' alt='')
                        // about-img end
                        // about-us-sec end
    
    a(href='#' title='')
        section.cta.section-padding
            .container
                .row
                    .col-xl-12
                        .cta-text
                            h2 Discover a land you&apos;ll love to build on!
    
