extends base

block content
    section.about-sec.pt
        .container
            .about-us-sec
                .row
                    .col-lg-6
                        .about-info
                            h3 Mama Lands
                            h4 Your best bet for purchasing lands and getting a Certificate of Ownership
                            p
                                | This project was developed as part of the requirement for obtaining a BSc. Computer science in Ahmadu Bello University, Zaria. The goal of this project is to automate the process of acquiring lands as well as speed up the process of obtaining a certificate of ownership on bought lands
                            
                        // about-info end
                    .col-lg-6
                        .about-img
                            img(src='/img/resources/about-img.jpg' alt='')
                        // about-img end
                        // about-us-sec end
    
    a(href='#' title='')
        section.cta.section-padding
            .container
                .row
                    .col-xl-12
                        .cta-text
                            h2 Discover a land you&apos;ll love to build on!
    section.bottom.section-padding
        .container
            .row
                .col-xl-4.col-sm-6.col-md-4
                    .bottom-logo
                        img.img-fluid(src='/img/logo.png' alt='')
                .col-xl-3.col-sm-6.col-md-3
                    .bottom-list
                        h3 Helpful Links
                        ul
                            li
                                a(href='18_Half_Map.html' title='') Half Map
                            li
                                a(href='#' title='') Register
                            li
                                a(href='#' title='') Pricing
                            li
                                a(href='#' title='') Add Listing
                    // bottom-list end
                .col-xl-5.col-sm-12.col-md-5.pl-0
                    .bottom-desc
                        h3 Aditional Information
                        p
                            | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
