extends base

block content
    section.about-sec.pt
        .container
            .about-us-sec
                .row
                    .col-lg-6
                        .about-info
                            h3 Best Real Estate Theme
                            h4 Leading real estate and rental theme dedicated to grow your sales
                            p
                                | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus asit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor.
                            a.btn-default.view-btn(href='#')
                                i.icon-arrow-right-circle
                                | View for rent
                        // about-info end
                    .col-lg-6
                        .about-img
                            img(src='/img/resources/about-img.jpg' alt='')
                        // about-img end
                        // about-us-sec end
    // about-sec end
    section.explore-feature.st2.pt.pt-0
        .container
            .row
                .col-xl-4.col-sm-6.col-md-6.col-lg-4
                    a(href='#' title='')
                        .card
                            .card-body
                                i.icon-home
                                h3 Perfect Tools
                                p
                                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.
                        // card end
                .col-xl-4.col-sm-6.col-md-6.col-lg-4
                    a(href='#' title='')
                        .card
                            .card-body
                                i.icon-cursor
                                h3 Search in Click
                                p
                                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.
                .col-xl-4.col-sm-6.col-md-6.col-lg-4
                    a(href='#' title='')
                        .card
                            .card-body
                                i.icon-lock
                                h3 User Control
                                p
                                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.
    a(href='#' title='')
        section.cta.section-padding
            .container
                .row
                    .col-xl-12
                        .cta-text
                            h2 Discover a home you&apos;ll love to stay
    section.bottom.section-padding
        .container
            .row
                .col-xl-4.col-sm-6.col-md-4
                    .bottom-logo
                        img.img-fluid(src='/img/logo.png' alt='')
                .col-xl-3.col-sm-6.col-md-3
                    .bottom-list
                        h3 Helpful Links
                        ul
                            li
                                a(href='18_Half_Map.html' title='') Half Map
                            li
                                a(href='#' title='') Register
                            li
                                a(href='#' title='') Pricing
                            li
                                a(href='#' title='') Add Listing
                    // bottom-list end
                .col-xl-5.col-sm-12.col-md-5.pl-0
                    .bottom-desc
                        h3 Aditional Information
                        p
                            | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
