doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Selio - Real Estate HTML Template
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon' href='/img/favicon.png')
  link(rel='stylesheet' href='/css/animate.min.css')
  link(rel='stylesheet' href='/js/lib/slick/slick.css')
  link(rel='stylesheet' href='/js/lib/slick/slick-theme.css')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' type='text/css' href='/css/responsive.css')
  link(rel='stylesheet' type='text/css' href='/css/color.css')
//if lte IE 9
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='https://browsehappy.com/') upgrade your browser
    |  to improve your experience and security.

.wrapper
    include _header.pug

    block content

    block footer
      include _footer.pug
// wrapper end

script(src='/js/jquery-3.3.1.min.js')
script(src='/js/modernizr-3.6.0.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/html5lightbox.js')
script(src='/js/lib/slick/slick.js')
script(src='/js/scripts.js')

// Maps
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwc4veKudU0qjYrLrrQXacCkDkcy3AeQ')
script(src='/js/map-cluster/infobox.min.js')
script(src='/js/map-cluster/markerclusterer.js')
script(src='/js/map-cluster/map2.js')